@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nickainley';
  src:
    local('Nickainley'),
    url('../fonts/Nickainley-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 48px;

  @media (max-width: 640px) {
    font-size: 30px;
    line-height: 1.25;
  }
}

p {
  @media (max-width: 640px) {
    font-size: 14px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Swiper */

/* .packages-at-a-glance .swiper-pagination {
  bottom: 10px;
} */

.homepage-gallery .swiper-pagination-bullet-active {
  background: #218b82 !important;
}

.homepage-gallery .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #d9ebdd;
  opacity: 1;
}
