@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nickainley';
  src:
    local('Nickainley'),
    url('../fonts/Nickainley-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-padding-top: 105px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1,
h2 {
  font-size: 3.25rem;
  line-height: 1;
  padding-bottom: 0.5rem;

  @media (max-width: 640px) {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;

  @media (max-width: 640px) {
    font-size: 1.1rem;
  }
}

h4 {
  font-size: 1rem;
  font-weight: bold;

  @media (max-width: 640px) {
    font-size: 0.9rem;
  }
}

p {
  @media (max-width: 640px) {
    font-size: 14px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Swiper */

/* Scrollbar track (like inactive bullets) */
.homepage-gallery .swiper-scrollbar {
  background: #d9ebdd;
  border-radius: 999px;
}

/* Scrollbar thumb (like active bullet) */
.homepage-gallery .swiper-scrollbar-drag {
  background: #218b82;
  border-radius: 999px;
}

.homepage-gallery .swiper-scrollbar-drag:hover {
  background: #1a746d;
}
