backend:
  name: git-gateway
  branch: main

media_folder: 'public/uploads'
public_folder: '/uploads'

collections:
  - name: 'news'
    label: 'News'
    folder: 'content/news'
    create: true
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - label: 'News Category'
        name: 'category'
        widget: 'select'
        max: 1
        options:
          - { label: 'The Fun Bug Updates', value: 'updates' }
          - { label: 'Monthly Calendar', value: 'calendar' }
      - label: 'Date'
        name: 'date'
        widget: 'datetime'
        required: true
        format: 'MM.DD.YYYY'
        time_format: false
      - {
          label: 'Article Image',
          name: 'image',
          widget: 'image',
          allowMultiple: false,
        }
      - label: 'Image Background Color'
        name: 'imgBgColor'
        widget: 'select'
        max: 1
        options:
          - { label: 'Pastel Blue', value: '#E7F2FE' }
          - { label: 'Pastel Pink', value: '#FDD7EC' }
          - { label: 'Pastel Green', value: '#D9EBDD' }
          - { label: 'Pastel Orange', value: '#FFCEA0' }
          - { label: 'Pastel Yellow', value: '#FBFEC1' }
          - { label: 'Soft White', value: '#FAFAFA' }
      - {
          label: 'Description of Image',
          name: 'imageDescription',
          widget: 'string',
        }
      - { label: 'News Article Content', name: 'content', widget: 'markdown' }
  - name: 'info'
    label: 'Website Information'
    files:
      - label: 'Hours'
        name: 'hours'
        file: 'content/website-info/hours.yml'
        fields:
          - label: 'Open Play Hours'
            name: 'openPlayHours'
            widget: 'object'
            fields:
              - label: 'Monday, Tuesday and Thursday'
                name: 'mtt'
                widget: 'string'
                required: true
              - label: 'Wednesday and Friday'
                name: 'wf'
                widget: 'string'
                required: true
              - label: 'Saturday'
                name: 'saturday'
                widget: 'string'
                required: true
              - label: 'Sunday'
                name: 'sunday'
                widget: 'string'
                required: true
          - label: 'Party Hours'
            name: 'partyHours'
            widget: 'object'
            fields:
              - label: 'Monday'
                name: 'monday'
                widget: 'string'
                required: false
              - label: 'Tuesday'
                name: 'tuesday'
                widget: 'string'
                required: false
              - label: 'Wednesday'
                name: 'wednesday'
                widget: 'string'
                required: false
              - label: 'Thursday'
                name: 'thursday'
                widget: 'string'
                required: false
              - label: 'Friday'
                name: 'friday'
                widget: 'string'
                required: false
              - label: 'Saturday'
                name: 'saturday'
                widget: 'string'
                required: false
              - label: 'Sunday'
                name: 'sunday'
                widget: 'string'
                required: false
      - label: 'Gallery Page Photos'
        name: 'gallery'
        file: 'content/website-info/gallery.yml'
        fields:
          - label: 'Parties'
            name: 'parties'
            widget: 'list'
            fields:
              - { label: 'Image', name: 'image', widget: 'image' }
              - { label: 'Description of Image', name: 'alt', widget: 'string' }
              - {
                  label: 'Include in Parties Page?',
                  name: 'page',
                  widget: 'boolean',
                  default: false,
                  required: false,
                }
          - label: 'Open Play'
            name: 'openPlay'
            widget: 'list'
            fields:
              - { label: 'Image', name: 'image', widget: 'image' }
              - { label: 'Description of Image', name: 'alt', widget: 'string' }
          - label: 'Events'
            name: 'events'
            widget: 'list'
            fields:
              - { label: 'Image', name: 'image', widget: 'image' }
              - { label: 'Description of Image', name: 'alt', widget: 'string' }
          - label: 'Cafe'
            name: 'cafe'
            widget: 'list'
            fields:
              - { label: 'Image', name: 'image', widget: 'image' }
              - { label: 'Description of Image', name: 'alt', widget: 'string' }
              - {
                  label: 'Include in Cafe Page?',
                  name: 'page',
                  widget: 'boolean',
                  default: false,
                  required: false,
                }
      - label: 'Photos (Homepage, About)'
        name: 'photos'
        file: 'content/website-info/photos.yml'
        fields:
          - label: 'About Page Photo'
            name: 'aboutPhoto'
            widget: 'image'
            allowMultiple: false
          - label: 'Homepage Photos'
            name: 'homepagePhotos'
            widget: 'list'
            fields:
              - { label: 'Image', name: 'image', widget: 'image' }
              - { label: 'Description of Image', name: 'alt', widget: 'string' }
      - label: 'Party Page'
        name: 'PartyPageData'
        file: 'content/website-info/party-pricing.yml'
        fields:
          - label: 'Party package price (include $)'
            name: 'PartyPageData'
            widget: 'string'
          - label: 'Sales Tax Percentage (State + County)'
            name: 'tax'
            widget: 'string'
          - label: 'Party bullets'
            name: 'partyBullets'
            widget: 'list'
            fields:
              - {
                  label: 'Bullet',
                  name: 'bullet',
                  widget: 'string',
                  required: true,
                }
      - label: 'Admissions pricing'
        name: 'admissions'
        file: 'content/website-info/admissions.yml'
        fields:
          - label: 'Admission price for Ages 0-2'
            name: 'young'
            widget: 'number'
            value_type: 'int'
            min: 1
          - label: 'Admission price for Ages 3-6'
            name: 'older'
            widget: 'number'
            value_type: 'int'
            min: 1
      - label: 'Membership pricing'
        name: 'memberships'
        file: 'content/website-info/memberships.yml'
        fields:
          - label: 'Membership Price for 1 Child'
            name: 'one'
            widget: 'number'
            value_type: 'int'
            min: 1
          - label: 'Membership Price for 2 Children'
            name: 'two'
            widget: 'number'
            value_type: 'int'
            min: 1
          - label: 'Membership Price for 3+ Children'
            name: 'three'
            widget: 'number'
            value_type: 'int'
            min: 1
      - label: 'Cafe Menu'
        name: 'menu'
        file: 'content/website-info/menu.yml'
        fields:
          - label: 'House Specialties - Pricing'
            name: 'specialtiesPricing'
            widget: 'object'
            fields:
              - label: 'Hot drinks (16oz)'
                name: 'hot'
                widget: 'string'
              - label: 'Iced drinks (20oz)'
                name: 'iced'
                widget: 'string'
              - label: 'Extra Espresso Shot'
                name: 'shot'
                widget: 'string'
              - label: 'Flavor Add-In'
                name: 'flavor'
                widget: 'string'
          - label: 'House Specialties - Coffee Drinks'
            name: 'coffeeDrinks'
            widget: 'list'
            fields:
              - {
                  label: 'Drink Name',
                  name: 'drinkName',
                  widget: 'string',
                  required: true,
                }
              - {
                  label: 'Drink Secondary Name (Ex: name is Chai There and secondary name is chai tea latter)',
                  name: 'secondaryName',
                  widget: 'string',
                  required: false,
                }
              - {
                  label: 'Drink Ingredients',
                  name: 'drinkIngredients',
                  widget: 'string',
                  required: true,
                }
              - {
                  label: 'Drink Image',
                  hint: 'Short Drink Dimension (190w x 156h), Tall Drink Dimensions (178w x 200h)',
                  name: 'drinkImage',
                  widget: 'image',
                  allowMultiple: false,
                  required: true,
                }
              - {
                  label: 'Drink Image Description',
                  name: 'drinkImageAlt',
                  widget: 'string',
                  required: true,
                }
              - label: 'Drink Image Type'
                name: 'drinkImageType'
                widget: 'select'
                required: true
                max: 1
                options:
                  - label: 'Tall Drink (Iced)'
                    value: 'tall'
                  - label: 'Short Drink'
                    value: 'short'
          - label: 'House Specialties - Tea Drinks'
            name: 'teaDrinks'
            widget: 'list'
            fields:
              - {
                  label: 'Drink Name',
                  name: 'drinkName',
                  widget: 'string',
                  required: true,
                }
              - {
                  label: 'Drink Secondary Name (Ex: name is Chai There and secondary name is chai tea latter)',
                  name: 'secondaryName',
                  widget: 'string',
                  required: false,
                }
              - {
                  label: 'Drink Ingredients',
                  name: 'drinkIngredients',
                  widget: 'string',
                  required: true,
                }
              - {
                  label: 'Drink Image',
                  hint: 'Short Drink Dimension (190w x 156h), Tall Drink Dimensions (178w x 200h)',
                  name: 'drinkImage',
                  widget: 'image',
                  allowMultiple: false,
                  required: true,
                }
              - {
                  label: 'Drink Image Description',
                  name: 'drinkImageAlt',
                  widget: 'string',
                  required: true,
                }
              - label: 'Drink Image Type'
                name: 'drinkImageType'
                widget: 'select'
                required: true
                max: 1
                options:
                  - label: 'Tall Drink (Iced)'
                    value: 'tall'
                  - label: 'Short Drink'
                    value: 'short'
          - label: 'House Specialties - Refreshers'
            name: 'refreshers'
            widget: 'list'
            fields:
              - {
                  label: 'Drink Name',
                  name: 'drinkName',
                  widget: 'string',
                  required: true,
                }
              - {
                  label: 'Drink Secondary Name (Ex: name is Chai There and secondary name is chai tea latter)',
                  name: 'secondaryName',
                  widget: 'string',
                  required: false,
                }
              - {
                  label: 'Drink Ingredients',
                  name: 'drinkIngredients',
                  widget: 'string',
                  required: true,
                }
              - {
                  label: 'Drink Image',
                  hint: 'Short Drink Dimension (190w x 156h), Tall Drink Dimensions (178w x 200h)',
                  name: 'drinkImage',
                  widget: 'image',
                  allowMultiple: false,
                  required: true,
                }
              - {
                  label: 'Drink Image Description',
                  name: 'drinkImageAlt',
                  widget: 'string',
                  required: true,
                }
              - label: 'Drink Image Type'
                name: 'drinkImageType'
                widget: 'select'
                required: true
                max: 1
                options:
                  - label: 'Tall Drink (Iced)'
                    value: 'tall'
                  - label: 'Short Drink'
                    value: 'short'
          - label: 'Build Your Own Latte - Pricing'
            name: 'buildYourOwnPricing'
            widget: 'object'
            fields:
              - label: 'Hot drinks (16oz)'
                name: 'hot'
                widget: 'string'
              - label: 'Iced drinks (20oz)'
                name: 'iced'
                widget: 'string'
          - label: 'Build Your Own Latte - Flavors'
            name: 'flavors'
            widget: 'list'
            fields:
              - { label: 'Flavor', name: 'flavor', widget: 'string' }
              - {
                  label: 'Sugar Free Available',
                  name: 'sugarFree',
                  widget: 'boolean',
                  required: false,
                }
          - label: 'Build Your Own Latte - Milks'
            name: 'milks'
            widget: 'list'
            fields:
              - { label: 'Milk Type', name: 'milk', widget: 'string' }
          - label: 'Dirty Sodas - Pricing'
            name: 'dirtySodasPricing'
            widget: 'object'
            fields:
              - label: 'Kids (12oz)'
                name: 'kids'
                widget: 'string'
              - label: 'Adults (20oz)'
                name: 'adults'
                widget: 'string'
          - label: 'Dirty Sodas - Coffee Drinks'
            name: 'dirtySodas'
            widget: 'list'
            fields:
              - {
                  label: 'Drink Name',
                  name: 'drinkName',
                  widget: 'string',
                  required: true,
                }
              - {
                  label: 'Drink Description',
                  name: 'drinkDescription',
                  widget: 'string',
                  required: true,
                }
              - {
                  label: 'Drink Image',
                  hint: 'Short Drink Dimension (190w x 156h), Tall Drink Dimensions (178w x 200h)',
                  name: 'drinkImage',
                  widget: 'image',
                  allowMultiple: false,
                  required: true,
                }
              - {
                  label: 'Drink Image Description',
                  name: 'drinkImageAlt',
                  widget: 'string',
                  required: true,
                }
          - label: 'Beverages'
            name: 'beverages'
            widget: 'list'
            fields:
              - { label: 'Name of Beverage', name: 'name', widget: 'string' }
              - { label: 'Price', name: 'price', widget: 'string' }
          - label: 'Light Bites'
            name: 'bites'
            widget: 'list'
            fields:
              - { label: 'Name of Food Item', name: 'name', widget: 'string' }
              - { label: 'Price', name: 'price', widget: 'string' }
          - label: 'Kids'
            name: 'kids'
            widget: 'list'
            fields:
              - { label: 'Name of Item', name: 'name', widget: 'string' }
              - { label: 'Price', name: 'price', widget: 'string' }
